<!-- BEGIN LOGIN SECTION -->
		<section class="section-account">
			<div class="img-backdrop" style="background: url('http://pbs.twimg.com/profile_background_images/855713774/e71bc3c26561f49cab71e5717678f872.jpeg') center;background-size: 100%;background-position: 0 41%;"></div>
			<div class="spacer"></div>
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<br/>
							<span class="text-lg text-bold text-primary">Autenticação</span>
							<br/><br/>
							<form class="form floating-label" action="../../html/dashboards/dashboard.html" accept-charset="utf-8" method="post">
								<div class="form-group">
									<input type="text" ng-model="login" class="form-control" id="username" name="username">
									<label for="username">Email</label>
								</div>
								<div class="form-group">
									<input type="password" ng-model="senha" class="form-control" id="password" name="password">
									<label for="password">Senha</label>
									<!-- <p class="help-block"><a href="#">Forgotten?</a></p> -->
								</div>
								<br/>
								<div class="row">
									<div class="col-xs-12 text-right">
										<button class="btn btn-primary btn-raised" ng-disabled="login == '' || senha == ''" type="button" ng-click="fnLogin();">Login</button>
									</div><!--end .col -->
								</div><!--end .row -->
							</form>
						</div><!--end .col -->
						<!--<div class="col-sm-5 col-sm-offset-1 text-center">
							<br><br>
								<h3 class="text-light">
									No account yet?
								</h3>
								<a class="btn btn-block btn-raised btn-primary" href="#">Sign up here</a>
								<br><br>
									<h3 class="text-light">
										or
									</h3>
									<p>
										<a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-facebook pull-left"></i>Login with Facebook</a>
									</p>
									<p>
										<a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-twitter pull-left"></i>Login with Twitter</a>
									</p>
						</div>--><!--end .col -->
					</div><!--end .row -->
				</div><!--end .card-body -->
			</div><!--end .card -->
		</section>
				<!-- END LOGIN SECTION -->