<div class="row">
	<div class="section-header">
		<h2 class="text-primary">Lojas</h2>
	</div>

	<div class="row">
		<div class="col-md-8">
			<article class="margin-bottom-xxl">
				<p class="lead">Aqui você pode visualizar todas as lojas monitoradas pelo sistema.</p>
			</article>
		</div><!--end .col -->
	</div>

	<div class="col-lg-12">
		<div class="table-responsive">
			<table id="dt2" class="table order-column hover" cellspacing="0" width="100%">
			        <thead>
			            <tr>
							<th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 322px;">URL</th>
							<th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 469px;">Criado em</th>
							<th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 432px;">Nome</th>
							<th class="sort-numeric sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"style="width: 277px;">Plano</th>
			            </tr>
			        </thead>
			</table>
		</div>
	</div>
</div>