<div class="row">
	<div class="section-header">
		<h2 class="text-primary">Ordem</h2>
	</div>

	<div class="row">
		<div class="col-md-8">
			<article class="margin-bottom-xxl">
				<p class="lead">Aqui você pode visualizar todas as ordens monitoradas pelo sistema.</p>
			</article>
		</div><!--end .col -->
	</div>

	<div class="col-lg-12">
		<div class="table-responsive">
			<table id="dt2" class="table order-column hover" cellspacing="0" width="100%">
			        <thead>
			            <tr>
							<th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 469px;">STATUS</th>
							<th "1" colspan="1" style="width: 469px;">INCREMENT ID</th>
							<th "1" colspan="1" style="width: 432px;">NOME LOJA</th>
							<th "1" colspan="1" style="width: 432px;">NOME FILIAL</th>
							<th class="sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: 432px;">EMAIL</th>
							<th "1" colspan="1" style="width: 432px;">CRIAD. EM</th>
							<th "1" colspan="1" style="width: 432px;">ATUAL. EM</th>
							<th "1" colspan="1" style="width: 432px;">DESC. ENTREGA</th>
							<th "1" colspan="1" style="width: 432px;">SUB TOTAL</th>
							<th "1" colspan="1" style="width: 432px;">AÇÕES</th>
			            </tr>
			        </thead>
			</table>
		</div>
	</div>
</div>

<script src="../../assets/js/core/demo/DemoTableDynamic.js"></script>

<!-- BEGIN SIMPLE MODAL MARKUP -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="simpleModalLabel">Informações detalhadas sobre pedido #{{objModal.incrementid}} de: {{objModal.customeremail}} </h4>
			</div>
			<div class="modal-body">
				<p>Criado em: {{objModal.createdat}}</p>
				<p>Email: {{objModal.customeremail}}</p>
				<p>Nome: {{objModal.customername}}</p>
				<p>ID pedido (entity_id): {{objModal.entity_id}}</p>
				<p>Increment ID pedido: {{objModal.incrementid}}</p>

				<br>
				<p>ID da filial: {{objModal.storeid}}</p>
				<p>Nome da filial: {{objModal.lojaFilial.name}}</p>
				<p>Website ID: {{objModal.lojaFilial.website_id}}</p>
				<p>ID da loja: {{objModal.lojaFilial.id_loja}}</p>
				<p>Nome da loja: {{objModal.loja.nome}}</p>

				<br>
				<p>Nome metodo pgto: {{objModal.method}}</p>
				<p>Nome do metodo de entrega: {{objModal.shippingmethod}}</p>
				<p>Descrição do metodo de entrega: {{objModal.shippingdescription}}</p>
				
				<br>
				<p>Estado: {{objModal.state}}</p>
				<p>Status: {{objModal.status}}</p>

				<br>
				<p>Desconto: {{objModal.discountamount}}</p>
				<p>Grand total: {{objModal.grandtotal}}</p>
				<p>SubTotal: {{objModal.subtotal}}</p>
				<p>Valor de entrega: {{objModal.shippingamount}}</p>

			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END SIMPLE MODAL MARKUP -->